<!DOCTYPE html>
<html>
  <head>
    <head>
      <link rel="stylesheet" href="/styles/bootstrap.min.css" />
      <link rel="stylesheet" href="/styles/style.css" />
      <script src="/js/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-inverse" style="padding-left: 130px">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/users/add">Add Users</a></li>
          <li><a href="/invalid">Invalid Path</a></li>
        </ul>
      </nav>
    </div>

    <div class="center">
      <img src="images/403.jpg" />
    </div>
  </body>
</html>
