<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/styles/style.css'/>
    <title><%= title %></title>
    <link rel="icon" type="png" href="/images/icon.png">
    <script src="/js/jquery-2.2.0.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container bg-[url('/images/background.jpg')] min-h-screen bg-center bg-cover min-w-full px-28 py-5 relative">

    <div class="container h-full p-10">
        <div
                class="items-center justify-center text-neutral-800">
            <div class="w-full">
                <div
                        class="block rounded-lg bg-white shadow-lg">
                    <div class="g-0 lg:flex lg:flex-wrap">
                        <!-- Left column container-->
                        <div class="mx-auto px-4 md:px-0 lg:w-6/12">
                            <div class="md:mx-6 md:p-12">
                                <!--Logo-->
                                <div class="text-center">
                                    <a href="/">
                                        <img

                                                class="mx-auto w-48"
                                                src="/images/icon.png"
                                                alt="logo"/>
                                    </a>
                                    <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                                        Cairo Metro
                                    </h4>
                                </div>

                                <form>
                                    <p class="mb-4">Please login to your account</p>
                                    <!--Username input-->
                                    <!--Email input-->
                                    <div class="relative mb-3">
                                        <input
                                                type="email"
                                                class="peer m-0 block h-[58px] w-full rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-4 text-base font-normal leading-tight text-neutral-700 transition duration-200 ease-linear placeholder:text-transparent focus:border-primary focus:pb-[0.625rem] focus:pt-[1.625rem] focus:text-neutral-700 focus:outline-none peer-focus:text-primary [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
                                                id="email"
                                                placeholder="name@example.com"/>
                                        <label
                                                for="email"
                                                class="pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent px-3 py-4 text-neutral-500 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85] motion-reduce:transition-none"
                                        >Email address</label>
                                    </div>

                                    <!--Password input-->
                                    <div class="relative mb-3">
                                        <input
                                                type="password"
                                                class="peer m-0 block h-[58px] w-full rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-4 text-base font-normal leading-tight text-neutral-700 transition duration-200 ease-linear placeholder:text-transparent focus:border-primary focus:pb-[0.625rem] focus:pt-[1.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none peer-focus:text-primary [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
                                                id="password"
                                                placeholder="Password"/>
                                        <label
                                                for="password"
                                                class="pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent px-3 py-4 text-neutral-500 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85] motion-reduce:transition-none"
                                        >Password</label>
                                    </div>

                                    <!--Submit button-->
                                    <div class="mb-12 pb-1 pt-1 text-center">
                                        <button
                                                id="submit" name="submit"
                                                class="bg-neutral-800 mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] hover:border-danger-600 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-black"
                                                type="button"
                                                data-te-ripple-init
                                                data-te-ripple-color="light">
                                            Log in
                                        </button>

                                        <!--Forgot password link-->
                                        <a href="#!">Forgot password?</a>
                                    </div>

                                    <!--Register button-->
                                    <div class="flex items-center justify-between pb-6">
                                        <p class="mb-0 mr-2">Don't have an account?</p>
                                        <button
                                                onclick="location.href='/register'"
                                                type="button"
                                                class="inline-block bg-black text-white rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-black focus:border-danger-600 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700"
                                                data-te-ripple-init
                                                data-te-ripple-color="dark">
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Initialization for ES Users
        import {
            Input,
            Ripple,
            initTE,
        } from "tw-elements";

        initTE({Input, Ripple});
    </script>

    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                const email = $('#email').val();
                const password = $('#password').val();
                const data = {
                    email,
                    password,
                };

                $.ajax({
                    type: "POST",
                    url: '/api/v1/user/login',
                    data,
                    success: function (serverResponse) {
                        if (serverResponse) {
                            location.href = '/dashboard';
                        }
                    },
                    error: function (errorResponse) {
                        if (errorResponse) {
                            alert(`User login error: ${errorResponse.responseText}`);
                            console.log("error")
                        }
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>
