<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <title><%= user['firstname'] %>'s Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--    <link rel='stylesheet' href='/styles/bootstrap.min.css'/>-->
    <link rel='stylesheet' href='/styles/style.css'/>
    <link rel="icon" type="png" href="/images/icon.png">
    <script src="/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!--    <script src="/js/bootstrap.min.js" type="text/javascript"></script>-->
</head>
<body>
<script>
    $(document).ready(function () {
        const sessionToken = document.cookie.includes('session_token');
        if (!sessionToken) {
            location.href = '/';
        }
    });
</script>
<div class="container bg-indigo-100 min-h-screen bg-center bg-cover min-w-full px-28 py-5 relative">    
    <nav id="navbar" class="flex items-center bg-indigo-500 bg-opacity-50 rounded-2xl px-2 h-fit shadow-2xl duration-300">        <ul class="flex-1 text-center">

            <li class="list-none inline-block px-5">
                <a href="#Home" class="no-underline text-3xl text-black px-7 duration-300 hover:text-4xl">Home</a>
            </li>
            <li class="list-none inline-block px-5">
                <a href="#Account"
                   class="no-underline text-3xl text-black px-7 duration-300 hover:text-4xl">Account</a>
            </li>
        </ul>

        <a href="/"><img class="mr-7 w-7 h-7" src="/images/logout.png" alt="logout"></a>

        <a href="/">
            <img

                    class="w-40 hover:animate-pulse"
                    src="/images/icon.png"
                    alt="logo"/>
        </a>
        <script>
            $(function () {
                var scroll = $(document).scrollTop();
                var navHeight = $('#navbar').outerHeight();

                $(window).scroll(function () {
                    var scrolled = $(document).scrollTop();

                    if (scrolled > navHeight) {
                        $('#navbar').addClass('animate');
                    } else {

                        $('#navbar').removeClass('animate');
                    }

                    if (scrolled > scroll) {
                        $('#navbar').removeClass('sticky');
                    } else {
                        $('#navbar').addClass('sticky');
                    }

                    scroll = $(document).scrollTop();

                });
            });
        </script>
    </nav>

    </div>
    <br/>
    <!-- <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        <tr> -->


            <script>
              //todo write code here
            </script>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>
