<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/styles/style.css'/>
    <title><%= title %></title>
    <link rel="icon" type="png" href="/images/icon.png">
    <script src="/js/jquery-2.2.0.min.js" type="text/javascript"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        // Handle Registration Button Click
        $("#register").click(function () {
            const firstname = $('#firstName').val();
            const lastname = $('#lastName').val();
            const email = $('#email').val();
            const password = $('#password').val();

            const data = {
                firstname,
                lastname,
                email,
                password,
            };
            console.log(data)

            $.ajax({
                type: "POST",
                url: '/api/v1/user',
                data,
                success: function (serverResponse) {
                    if (serverResponse) {
                        alert('Successfully Registered User');
                        location.href = '/';
                    }
                },
                error: function (errorResponse) {
                    if (errorResponse) {
                        alert(`Error Register User: ${errorResponse.responseText}`);
                    }
                }
            });
        });
    });
</script>
<div>
    <nav class="navbar navbar-inverse" style="padding-left:130px;">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</div>

<div class="center">
    <h1>Register</h1>
</div>
<div style="padding-left: 500px">
    <form class="form-horizontal" style="width: 50%;">
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                       value="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="password"
                       value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input id="register" name="register" type="button" value="Register" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
</body>
</html>
