<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/styles/style.css'/>
    <link rel="icon" type="png" href="/images/icon.png">
    <script src="/js/jquery-2.2.0.min.js" type="text/javascript"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        const sessionToken = document.cookie.includes('session_token');
        if (!sessionToken) {
            location.href = '/';
        }
    });
</script>
<div class="container bg-[url('/images/background.jpg')] min-h-screen bg-center bg-cover min-w-full px-28 py-5 relative">

    <nav id="navbar"
         class="flex items-center bg-white bg-opacity-25 rounded-2xl px-2 h-fit shadow-2xl duration-300">
        <img class="ml-3 cursor-pointer" onclick="notifications.showModal()" src="/images/Bell-Empty.svg"
             alt="notifications">


            </form>
        </dialog>

        <ul class="flex-1 text-center">

            <li class="list-none inline-block px-5">
                <a href="#Home" class="no-underline text-3xl text-black px-7 duration-300 hover:text-4xl">Home</a>
            </li>
            <li class="list-none inline-block px-5">
                <a href="#Requests/Rides"
                   class="no-underline text-3xl text-black px-7 duration-300 hover:text-4xl">Requests/Rides</a>
            </li>
            <li class="list-none inline-block px-5">
                <a href="#Account"
                   class="no-underline text-3xl text-black px-7 duration-300 hover:text-4xl">Account</a>
            </li>
        </ul>

        <a href="/"><img class="mr-7 w-7 h-7" src="/images/logout.png" alt="logout"></a>

        <a href="/">
            <img

                    class="w-40 hover:animate-pulse"
                    src="/images/icon.png"
                    alt="logo"/>
        </a>
        <script>
            $(function () {
                var scroll = $(document).scrollTop();
                var navHeight = $('#navbar').outerHeight();

                $(window).scroll(function () {
                    var scrolled = $(document).scrollTop();

                    if (scrolled > navHeight) {
                        $('#navbar').addClass('animate');
                    } else {

                        $('#navbar').removeClass('animate');
                    }

                    if (scrolled > scroll) {
                        $('#navbar').removeClass('sticky');
                    } else {
                        $('#navbar').addClass('sticky');
                    }

                    scroll = $(document).scrollTop();

                });
            });
        </script>
    </nav>
<head>
    <style>
        #pageTitle {
            font-size: 3rem;
            text-align: center;
            margin-top: 2rem;
        }
        
        .btn-container {
            display: flex;
            align-items: center;
            
        }
        
        .btn {
            padding: 0.5rem 1rem;
            background-color: #e56b46 ;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 1rem;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 0.5rem;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }
        
        .selected {
            background-color: #e56b46;
            color: #ffffff;
        }
    </style>
</head>
<body>
<script>
        $(document).ready(function () {
        const sessionToken = document.cookie.includes('session_token');
        if (!sessionToken) {
            location.href = '/';
        }

        //let selectedRequestId = null;

        ////function selectRow(requestId) {
        //    $('.selectable-row.selected').removeClass('selected');
        //    $(`#row-${requestId}`).addClass('selected');
        //    selectedRequestId = requestId;
        //    originid = origin;
        //    destination = destination;
        //} 

        //// Event listener for table row click
        //$(document).on('click', '.selectable-row', function () {
        //    var requestId = $(this).attr('data-request-id');
        //    selectRow(requestId);
        //});

        // Event listener for the refund button click
        $('#btnView').click(function () {
            if (selectedRequestId !== null) {
            const requestId = selectedRequestId; 

            const data = {};

            $.ajax({
                type: "POST",
                url: `/api/v1/refund/${requestId}`, 
                data,
                success: function (serverResponse) {
                if (serverResponse) {
                    alert(`Refund Requested successfully`);
                }
                },
                error: function (errorResponse) {
                if (errorResponse) {
                    alert(`Error Refunding: ${errorResponse.responseText}`);
                    console.log("error");
                }
                }
            });
            } else {
            alert('Please select a request to refund.');
            }
        });

        // Event listener for the purchase button click
        $('#btnPurchase').click(function () {
            location.href = '/requests/purchase';
        });        
        $('#btnCheckPrice').click(function () {
            location.href = `/prices/${originid}`;
        });
        });
        
</script>

</script>
    <h1 id="pageTitle"></h1>
    <div class="btn-container">
        <button id="btnView" class="btn" >View Requests</button>
<!--todo handle ig        -->

    </div>
    <br/>
    <div class="table-container bg-white p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col">User ID</th>            
            <th scope="col">Refund Amount</th>
            <th scope="col">Ticket ID</th>
        </tr>
        </thead>
        <tbody>
        <% refund_requests.forEach(request => { %>
        <tr id="row-<%= refund_requests.id %>" data-request-id="<%= refund_requests.id %>" class="selectable-row">
            <td><%= refund_requests.id %></td>
            <td><%= refund_requests.status %></td>
            <td><%= refund_requests.userid %></td>
            <td><%= refund_requests.refundamount %></td>
            <td><%= refund_requests.ticketid %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</div>
</body>




</html>
